body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
}
.flex-container {
  display: flex;
  width: 100%;
  background-color: blueviolet;
}
.flex-container > div {
  margin: 10px;
  padding: 15px;
  color: white;
  order: 3;
  background-color: blueviolet;
}
.logo {
  font-size: 30px;
  border: 2px solid white;
}
.loginOrRegister {
  text-align: right;
}
a {
  text-decoration: none;
  color: white;
}
.quoteHomePage {
  font-size: 58px;
  color: #000;
  padding: 12px;
}
.buttons {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  border: 0;
  margin: 10px;
}
#twitch {
  background-color: #9147ff;
  color: white;
}
#youtube {
  background-color: #cc0000;
  color: white;
}
#facebook {
  background-color: #4267b2;
  color: white;
}
.buttonCenter {
  text-align: center;
}
#profilePicture {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}
.loginSpotifyBtn {
  border-radius: 25px;
  height: 40px;
  width: 200px;
  border: 0px;
  background-color: #3c8a1b;
  color: white;
}
.userNameText {
  color: #000;
  font-size: 32px;
}
.item1 {
  grid-area: image;
  margin: 20px;
}
.item2 {
  grid-area: button;
  margin-left: 45px;
}
.item3 {
  grid-area: main;
  padding-right: 300px;
  padding-top: 40px;
  height: 40px;
  width: 200px;
  border-bottom: 1px solid #000;
  text-align: left;
}
.item4 {
  grid-area: startPlayButton;
  margin-left: 60px;
  color: #3c8a1b;
  font-weight: bold;
}
.grid-container {
  width: auto;
  height: auto;
  display: grid;
  grid-template-areas:
    "image main "
    "button main "
    "startPlayButton main";
  background-color: white;
}
